.logo{
    width:90px;
    height: auto;
}

.jumbo{
    width: 95%;
    height: auto;
}

/*btn*/
header .btn{
    background-color: #0061FF ;
    color: white;
    font-size: 14px;
    border: 0;
    padding: 5px 10px;
    margin-left: 15px;
}

.btn{
    background-color: #0061FF ;
    color: white;
    font-size: 14px;
    border: 0;
    padding: 10px 15px;
}
.btn-white{
    background-color: #ffffff ;
    color: rgb(0, 0, 0);
    font-size: 14px;
    border: 0;
    padding: 10px 15px;
    border: 1px solid grey;
}

/*background-color hero and sixth section*/
.bg-beau-blue{
    background-color: #B4D0E7;
}

/*h1 hero section*/
h1{
    font-weight: 800;
    font-size: 75px ;
}
h2{
    font-weight: 800;
    font-size: 32px ;
}

.line-h-24{
    line-height: 24px;
}

/*check-box style*/

.checkbox-container {
    vertical-align: middle;
  }

  .checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px; 
    height: 20px;
    border-radius: 50%; 
    border: 2px solid silver;
    background-color:  #0061FF  ;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
  }

  .checkbox-container input[type="checkbox"]:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .checkbox-text {
    font-size: 16px;
  }

  .gap{
    column-gap: 12px;
  }

  .icon{
    width: 40px;
    height: auto;
  }

  .weight-800{
    font-weight: 800;
  }
  .weight-400{
    font-weight: 400;
  }
  .weight-300{
    font-weight: 300;
  }

  .min-height{
    min-height: 1000px;
  }

  /* hr width*/
  .w-hr{
    width:15%;
  }

  /*img */
  .img-container img{
    max-width: 90%;
    max-height: 90%;
  }
  
  /*width 50% */
  .w-30{
    width: 50%;
  }