* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*flex*/
.d-flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/*border*/
.border{
    border: 1px solid black;
}

/*container class*/
.container{
    width:1200px;
    margin: 0 auto;
}
.container-large{
    width: 1400px;
    margin: 0 auto;
}
.container-max{
    width: 1500px;
    margin: 0 auto;
}

.container-sm{
    width: 990px;
    margin: 0 auto;
}

/*border-col*/
.col-20,
.col-25,
.col-34,
.col-50,
.col-70,
.col-100  {
    border: 1px dotted black;
}

/*layout class*/
.col-20{
    width: calc(20% - 2px);
}
.col-25{
    width: calc(25% - 2px);
}
.col-33{
    width: calc(100% / 3 - 6px);
    margin: 3px;
}
.col-40{
    width: calc(40% - 2px);
}
.col-50{
    width: 50%;
}
.col-60{
    width: calc(60% - 2px);
}
.col-70{
    width: calc(70% - 2px);
}
.col-80{
    width: calc(80% - 2px);
}
.col-90{
    width: calc(90% - 2px);
}
.col-100{
    width: calc(100% - 2px);
}


/*height width class*/
.height-xl {
    height: 500px;
}

.height-l {
    height: 300px;
}

.height-m {
    height: 100px;
}

.height-sm {
    height: 30px;
}

.width-xl {
    width: 500px;
}

.width-l {
    width: 300px;
}

.width-m {
    width: 100px;
}

.width-sm {
    width: 30px;
}


/*py-px class*/
.px-5 {
    padding: 0px 5px;
}
.px-10 {
    padding: 0px 10px;
}
.px-20 {
    padding: 0px 20px;
}
.px-40 {
    padding: 0px 40px;
}
.px-60 {
    padding: 0px 60px;
}
.px-140 {
    padding: 0px 140px;
}

.py-5 {
    padding: 5px 0px;
}
.py-10 {
    padding: 10px 0px;
}
.py-20 {
    padding: 20px 0px;
}
.py-30 {
    padding: 30px 0px;
}
.py-40 {
    padding: 40px 0px;
}
.py-60 {
    padding: 60px 0px;
}
.py-80 {
    padding: 80px 0px;
}


/*color class*/
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
.bg-yellow{
    background-color: yellow;
}
.bg-green{
    background-color: green;
}
.bg-silver{
    background-color: silver;
}
.bg-black{
    background-color: black;
}
.bg-violet{
    background-color: violet;
}
.bg-grey{
    background-color: grey;
}
.bg-orange{
    background-color: orange;
}
.bg-brown{
    background-color: brown;
}
